<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DvizhSeller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <userSettings>
    <DvizhSeller.Properties.Settings>
      <setting name="dbFile" serializeAs="String">
        <value>database.db</value>
      </setting>
      <setting name="dbTimeout" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="currency" serializeAs="String">
        <value>р.</value>
      </setting>
      <setting name="host" serializeAs="String">
        <value>dvizh.net</value>
      </setting>
      <setting name="protocol" serializeAs="String">
        <value>http</value>
      </setting>
      <setting name="client" serializeAs="String">
        <value>demo4</value>
      </setting>
      <setting name="token" serializeAs="String">
        <value>k2j33hdj39aqskdenneckksa303kd</value>
      </setting>
      <setting name="online" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="fiscal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="checkNote" serializeAs="String">
        <value>dvizh.net</value>
      </setting>
      <setting name="barcodescaner" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="cashboxId" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="rounding" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="roundingType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="csvRestPath" serializeAs="String">
        <value>backend/web/csvapi</value>
      </setting>
      <setting name="tokenPrefix" serializeAs="String">
        <value>?</value>
      </setting>
      <setting name="testMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="fiscalDriverType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="fiscalComPort" serializeAs="String">
        <value>COM5</value>
      </setting>
      <setting name="autoOpenTablet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="taxType" serializeAs="String">
        <value>1</value>
      </setting>
    </DvizhSeller.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
    <remove invariant="System.Data.SQLite"/><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/></DbProviderFactories>
  </system.data>
</configuration>
