<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DvizhSeller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DvizhSeller.Properties.Settings>
            <setting name="dbFile" serializeAs="String">
                <value>dvizSeller.mdf</value>
            </setting>
            <setting name="dbTimeout" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="currency" serializeAs="String">
                <value>р.</value>
            </setting>
            <setting name="host" serializeAs="String">
                <value>dvizh.net</value>
            </setting>
            <setting name="protocol" serializeAs="String">
                <value>https</value>
            </setting>
            <setting name="client" serializeAs="String">
                <value>dss-demo</value>
            </setting>
            <setting name="token" serializeAs="String">
                <value>k2j33hdj39aqskdenneckksa303kd</value>
            </setting>
            <setting name="online" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fiscal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkNote" serializeAs="String">
                <value>dvizh.net</value>
            </setting>
            <setting name="barcodescaner" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cashboxId" serializeAs="String">
                <value>1</value>
            </setting>
        </DvizhSeller.Properties.Settings>
    </userSettings>
</configuration>